body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header-main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.excursion-link {
    color: aquamarine;
    font-size: 16px;
}