body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

/* headings */

.second-heading {
    font-weight: 300;
    font-size: 42px;
}

.sub2-heading {
    font-size: 21px;
    color: gray;
}


.header-main {
    font-weight: normal;
    font-size: 50px;
}

.excursion-link {
    color: aquamarine;
    font-size: 16px;
}